


.form {
    width: 100%;
    margin: auto;
    border-bottom: 2px solid black;
}

form {
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    margin-bottom: 2rem;
}

.model {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.model select {
    width: 20rem;
    height: 2.6rem;
    border-radius: 0.5rem;
}


.model input {
    width: 19.59rem;
    height: 2.3rem;
    border-radius: 0.5rem;
}

.model select, .model input {
    margin: 1rem;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.features select {
    width: 20rem;
    height: 2.3rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button button {
    width: 20rem;
    height: 2.3rem;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem;
}


#search-form {
    height: 3rem;
    background-color: #db1212;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border:none;
}

.search-div {
    height: 100%;
    display: flex;
    align-content: center;
    cursor: pointer;
}
.search-div h4 {
    margin: auto;
    margin-right: 0;
    font-size: 1.2rem;
    height: 100%;
    align-content: center;
}

.search-div img{
    margin: auto;
    margin-left: 0;
    margin-bottom: 0.2rem;
    height: 90%;
    align-content: center;
}

.detail {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #afb2b6;
    cursor: pointer;
}

.hidden-btn {
    visibility: hidden;
    width: 20rem;
}

/*Detail form*/


.power {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    
}

.power div {
    width: 20rem;
    text-align: left;
    margin: 1rem;
}

.power select {
    width: 20rem;
    height: 2.3rem;
    border-radius: 0.5rem;
    margin: 1rem;
}


.power input {
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
}

#kw {
    margin-right: 1.5rem;

}

#ccm {
    margin-right: 1.5rem;

}




.feature-one, .feature-two {
    display: flex;
    justify-content: center;
}

.feature-one select, .feature-two select {
    width: 20rem;
    height: 2.3rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

/*SAFETY*/

.safety {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    border-top: 1px solid black;
}

.safety div{
    width: 10rem;
    margin: 1rem;
    text-align: start;
}

.all-feature {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    border-top: 1px solid black;
}

.all-feature div{
    width: 10rem;
    margin: 1rem;
    text-align: start;
}



@media only screen and (max-width: 1200px) {

    .form {
        margin-top: 2rem;
    }
    form {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        width: 80%;
    }

    #kw {
        margin-right: 0.4rem;
    }
    
    #ccm {
        margin-right: 0.4rem;
     }
    
}

@media only screen and (max-width: 820px){
    form {
        text-align: center;
    }
    .model , .features , .power, .feature-one, .feature-two {
        display: block;
        width: 100%;
        margin: auto;
    }

    .hidden-btn {
        display: none;
    }

    .power div {
        padding-left: 0.5rem;
        text-align: center;
    }

    .model select , .model input{
        width: 80%;
    }

    .features select {
        width: 80%;
    }



}

@media only screen and (max-width: 500px){

    form {
        width: 100%;
        border-radius: 0;
    }
    .form {
        margin-top: 0;
    }
}