


.form {
    width: 100%;
    margin: auto;
    border-bottom: 2px solid black;
}

form {
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    margin-bottom: 2rem;
}

.model {
    display: flex;
    align-items: center;
    justify-content: center;
}

.model select {
    width: 16rem;
    height: 2.3rem;
    border-radius: 0.5rem;
}


.model input {
    width: 16rem;
    height: 2rem;
    border-radius: 0.5rem;
}

.model select, .model input {
    margin: 1rem;
}

.features {
    display: flex;
    justify-content: center;
}

.features select {
    width: 16rem;
    height: 2.3rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button button {
    width: 16rem;
    height: 2.3rem;
    margin: 1rem;
    border:none;
    border-radius: 0.5rem;
}

#search-form {
    height: 3rem;
    background-color: #db1212;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border:none;
}

.search-div {
    height: 100%;
    display: flex;
    align-content: center;
}
.search-div h4 {
    margin: auto;
    margin-right: 0;
    font-size: 1.2rem;
    height: 100%;
    align-content: center;
}
.search-div img{
    margin: auto;
    margin-left: 0;
    margin-bottom: 0.2rem;
    height: 90%;
    align-content: center;
}

.detail {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #afb2b6;
}

.hidden-btn {
    visibility: hidden;
}

