

.header {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    background-color: #272323;
    box-shadow: 12px 12px 15px 15px #8b9092;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 6rem;
    font-size: 1.4rem;
}

.logo img {
    height: auto;
    width: 16rem;
    margin-right: 0;
}

.logo h2 {
    color :white;
    font-weight: bold;
    font-style: italic;
}

.logo a {
    text-decoration: none;
}

span {
    color: #db1212; 
    font-style: italic;
    font-weight: bold;
}

.desctop-btn {
    display: flex;
    align-items: center;
    margin-right: 6rem;
}

.desctop-btn button {
    margin: auto;
    cursor: pointer;
}

.log {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    margin-right: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: .8rem;
    text-decoration: none;
}

.log:hover {
    background-color: #0088a9;
}
.container-log {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    z-index: 10;
    cursor: pointer;
}

.logProfile {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    border: none;
    cursor: pointer;
}

.h-icon {
    height: 100%;
    position: absolute;
    right: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-icon i {
    color: white;
    font-size: 1.4rem;
}

.my-profile {
    position: relative;
    text-align: center;
    padding-left: 2rem;
}

.my-profile:hover {
    .profile {
        display: block;
    }
}

.profile {
    display: none;
    position: absolute;
    left: 0;
    width: 120%;
    padding-top: 1rem;
    border: 1px solid #272323;
    border-top: none;
    z-index: 15;
}

.profile button {
    display: block;
    text-align: left;
    padding-left: 2rem;
    width: 100%;
    height: 3rem;
    background-color: #272323;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
}

.profile button:hover {
    background-color:  #8b9092;
}

.post {
    height: 3rem;
    width: 10rem;
    background-color:#0088a9;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
}

.post:hover {
   background-color: #037794;
}

.menu {
    display: none;
}
.menu img {
    height: 2.4rem;
    width: auto;
}

.vehicle-type {
    display: none;
}

.vehicle-type-visible {
    display: none;
}

.vehicle-type button {
    display: block;
}

.vehicle-type img {
    height: 2rem;
    width: auto;
}


.logIn-menu-visible {
    display: block;
    position: fixed;
    right: 0;
    z-index: 15;
    height: 100vh;
    width: 45%;
    background-color: #656668;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

.profile-btn {
    height: 8rem;
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
    display: block;
}

.under-profile {
    opacity: 0.5;
}

.close-path-log{
    height: 3rem;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center ;
    justify-content: center;
    width: 90%;
    background-color:white;
    color:#555e61;
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto;
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.close-path-log img {
    position: absolute;
    right: 1rem;
    height: 2rem;
    width: auto;
}

.logIn {
    height: 3rem;
    width: 90%;
    background-color:#0088a9;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem ;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.logIn a {
    text-decoration: none;
    color: white;
}

.post-ad {
    height: 3rem;
    width: 90%;
    background-color:white;
    color:#555e61;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.post-ad a {
    text-decoration: none;
    color:#555e61;
}

@media only screen and (max-width: 1200px){

    .header {
        background: none;
        background-color: #afb2b6;
        box-shadow: none;
    }

    .logo {
        margin-left: 0rem;
        font-size: 1rem;
        padding-left: 1rem;
    }

    .logo h2 {
        color: black;
    }
    .logo img {
        height: auto;
        width: 12rem;
        margin-right: 0;
    }

    .desctop-btn {
        display: none;
    }

    .menu {
        display: flex;
        align-items: baseline;
        padding-right: 1rem;
        cursor: pointer;
    }

    .menu img {
        margin: auto 1rem;

    }

    .vehicle-type {
        display: none;
    }
    .vehicle-type-visible {
        position: absolute;
        display: block;
        right: 0;
        width: 45%;
        height: 100vh;
        z-index: 15;
        background-color: #555e61;
        border-left: 1px solid black;
    }

    .header-vehicle{
        display: block;
    }
    .type-sedann-h, .type-motorcycle-h, .type-truck-h, .type-tire-h {
        width: 100%;
        height: 4.3rem;
        background-color: #afb2b6;
        border: none;
        border-bottom: 1px solid black;
        cursor: pointer;
    }

    .header-vehicle button:hover,  .close-path-h:hover {
        background-color: white;
    }
    .close-path-h {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.2rem;
        font-size: 1.4rem;
        font-weight: bold;
        background-color: #afb2b6;
        border-bottom: 1px solid black;
        cursor: pointer;
    }
    .close-path-h img {
        margin-left: 1rem;
        height: 2rem;
        width: auto;
    }

    .type-sedann-h img {
        height: 2.8rem;
        width: auto;
    }
    
    .type-motorcycle-h img {
        height: 4rem;
        width: auto;
    }
    
    .type-truck-h img{
        height: 3.5rem;
        width: auto;
    }

    .type-tire-h img {
        height: 3rem;
        width: auto;
    }


    #menuVisible {
        transform: translateX(0);
    }

}

@media only screen and (max-width: 820px){
    
    .logo img {
        display: none;
    }
    
    .logo h2 {
        padding: 0.7rem;
        border-radius: 50%;
        background-color: white;
    }
    .search-btn {
        display: flex;
    }
    
}

@media only screen and (max-width: 500px){

    .header {
        height: 4.55rem;
    }
    .menu {
        padding-right: 0rem;
        margin: auto 0;
    }
    .menu img {
        height: 2rem;
        width: auto;
        margin-left: 0.6rem;
    }

    .logo {
        margin-left: 0rem;
        font-size: 0.8rem;
    }

    .logo h2 {
        padding: 0.55rem;
        border-radius: 50%;
        background-color: white;
        
    }
    .vehicle-type-visible, .logIn-menu-visible {
        width: 70%;
    }

}