.loginpage-container {
    height: 27rem;
}

.loginpage {
    display: block;
    text-align: center;
    background-color: #7f8286;
    margin: 2rem 30%;
    min-height: 15rem;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
}

.loginpage input {
    height: 2rem;
    width: 70%;
    font-size: 1.2rem;
}

.loginpage button {
    margin-top: 1rem;
    height: 2rem;
    width: 30%;
    background-color: #0088a9;
    border: 1px solid white;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 1200px){  
    .loginpage {
        margin: 2rem 10%; 
    }
}

@media only screen and (max-width: 820px){  

    .loginpage-container {
        height: 35rem;
    }

    .loginpage {
        margin: auto; 
        background-color: #d5d9df;
        border: none;
        color: black;
    }

    .loginpage h1 {
        font-size: 1.2rem;
    }

    .loginpage input {
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    .loginpage button {
        font-size: 1rem;
    }
}