
.car-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create exactly 3 columns */
  row-gap: 2rem;
  column-gap: 1rem;
  margin: 2rem;
}

.car {
    max-width: 35rem;
    max-height: 35rem;
    box-shadow: 10px 10px 5px #bdb3b3;
    background-color: white;
    border: 1px solid #7f8286;
    border-radius: 1rem;
    overflow: hidden;                    
  }

  .car-link {
    text-decoration: none;
    color: black;
  }
   .info {
    cursor: pointer;
  }
  
  .car-image {
    height: 70%;
    max-width: 100%;
    cursor: pointer;
    display: flex;
    align-content: center;
    /*border-bottom: 1px rgb(88, 83, 83) solid;*/
    background:  linear-gradient( 180deg, #ffffff, #555e61);
  }
  
  .car-image img {
    margin: auto;
    height: 100%;
    max-width: 100%;
    vertical-align: bottom;
  }

  .info , .engine {
    margin: auto 1rem;
    height: 15%;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: "Montserrat";
  }
  
  .engine {
    display: flex;
    justify-content: space-between;
  }


  @media only screen and (max-width: 820px){
    
    .car-container {
      display: block;
      margin: auto;
      text-align: center;
    }

    .car {
      margin: 1rem auto;
    }

    .info {
      font-size: 1rem;
    }
}