
@media only screen and (min-width: 1200px) {

.vehicle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background:  linear-gradient( 0deg, #afb2b6, #555e61);
    margin: auto;
    width: 60%;
    margin-top: 1rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.type-sedann, .type-motorcycle, .type-truck, .type-tire {
    height: 6rem;
    width: 10rem;
    border: none;
    background:  linear-gradient( 0deg, #afb2b6, #555e61);
}


.vehicle img {
    height: 4rem;
    width: auto;
}
.type-sedann img {
    padding-top: 1rem;
    height: 3rem;
}


.type-motorcycle img {
    padding-top: 0.5rem;
    height: 5.5rem;
}

.type-truck img{
    height: 4.5rem;
}

.type-sedann:hover, .type-motorcycle:hover, .type-truck:hover, .type-tire:hover  {
    background: white;
    cursor: pointer;
}

}